# Ignore gradle files
.gradle/

# Local configuration file, sdk path, etc
local.properties

# All intelliJ files
.idea/

# Mac OS X clutter
.DS_Store

# Build files
build/
app/build

# Ignore iml files
*.iml
app/*.iml