<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeelin.homework.weatherberry" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- course location is probably enough for this app, but need fine for emulator -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!-- activities -->
        <activity
            android:name="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity"
            android:label="@string/title_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yeelin.homework.weatherberry.activity.TriHourForecastActivity"
            android:label="@string/title_tri_hour_forecast_activity"
            android:parentActivityName="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity" />
        </activity>
        <activity
            android:name="com.example.yeelin.homework.weatherberry.activity.SearchActivity"
            android:label="@string/title_search_activity"
            android:parentActivityName="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity" />
        </activity>
        <activity
            android:name="com.example.yeelin.homework.weatherberry.activity.DummyActivity"
            android:label="@string/title_dummy_activity"
            android:parentActivityName="com.example.yeelin.homework.weatherberry.activity.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yeelin.homework.weatherberry.activity.SearchActivity" />
        </activity>
        <activity
            android:name="com.example.yeelin.homework.weatherberry.activity.FavoritesActivity"
            android:label="@string/title_favorites_activity"
            android:parentActivityName="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yeelin.homework.weatherberry.activity.CurrentWeatherAndDailyForecastPagerActivity" />
        </activity>

        <!-- content provider -->
        <provider
            android:name="com.example.yeelin.homework.weatherberry.provider.WeatherContentProvider"
            android:authorities="com.example.yeelin.homework.weatherberry.provider.WeatherContentProvider"
            android:enabled="true"
            android:exported="false" />

        <!-- Intent service to fetch and load data -->
        <service
            android:name="com.example.yeelin.homework.weatherberry.service.NetworkIntentService"
            android:exported="false" />

        <!-- Job scheduler -->
        <service
            android:name="com.example.yeelin.homework.weatherberry.service.NetworkJobService"
            android:enabled="@bool/use_job_service"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- Broadcast receiver for alarms -->
        <receiver
            android:name="com.example.yeelin.homework.weatherberry.receiver.AlarmBroadcastReceiver"
            android:enabled="@bool/use_alarm_service"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.example.yeelin.homework2.h312yeelin.receiver.AlarmBroadcastReceiver.action.ALARM_TRIGGERED"/>
            </intent-filter>
        </receiver>

        <!--  Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7Afq_dlzZxlZzvVvk88ZFJ6hYcKK_5ME"/>
    </application>

</manifest>
